# config/detekt/detekt.yml
build:
  maxIssues: 0

config:
  validation: true
  warningsAsErrors: false

formatting:
  active: true
  android: true
  autoCorrect: true
  MaxLineLength:
    active: true
    maxLineLength: 120
  NoWildcardImports:
    active: true
  TrailingCommaOnCallSite:
    active: true
  TrailingCommaOnDeclarationSite:
    active: true

style:
  active: true
  MagicNumber:
    active: true
    ignoreNumbers: ['-1', '0', '1', '2']
    ignorePropertyDeclaration: true
    ignoreCompanionObjectPropertyDeclaration: true
  MaxLineLength:
    active: true
    maxLineLength: 120
  ReturnCount:
    active: true
    max: 3
  UnusedPrivateMember:
    active: true
  ForbiddenComment:
    active: true
    values: ['FIXME', 'HACK', 'XXX']

complexity:
  active: true
  CyclomaticComplexMethod:
    active: true
    threshold: 15
  LongMethod:
    active: true
    threshold: 60
  LongParameterList:
    active: true
    functionThreshold: 6
  TooManyFunctions:
    active: true
    thresholdInFiles: 15
    thresholdInClasses: 15

naming:
  active: true
  FunctionNaming:
    active: true
    functionPattern: '[a-z][a-zA-Z0-9]*'
    ignoreAnnotated: ['Composable']  # importante para Compose
  ClassNaming:
    active: true
    classPattern: '[A-Z][a-zA-Z0-9]*'

coroutines:
  active: true
  GlobalCoroutineUsage:
    active: true
  RedundantSuspendModifier:
    active: true
  SuspendFunWithFlowReturnType:
    active: true

exceptions:
  active: true
  TooGenericExceptionCaught:
    active: true
    exceptionNames:
      - Exception
      - Throwable
  SwallowedException:
    active: true